* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #f2f7f8;
    padding: 0;
  }

  :root {
    --light-grey: #f2f7f8;
    --medium-gray: #3d4f60;
    --dark-blue: #122231;
    --blue: #0000ff;
    --mainblue: #6091d1;
    --mainwhite: #ffffff;
    --mainblack: #fde4e4;
    --textcolor: #848586;
    --investment: #740fb8;
    --flexdollar: #3b3a3b;
    --flexnaira: rgb(0, 255, 0);
    --mainred: #ff0000;
    --lightgreen: rgb(104, 167, 96);
  }

  nav{
    width:100%;
    background-color:white;
    padding-top: 10px;
    position:fixed;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }

  .container {
    width: 95vw;
    margin: 0 auto;
  }

  .navbar div, span,
.navbar-two div,
.scroll-item img, p{
  cursor: pointer;
}

  /* TOP NAVBAR */


  .navbar{
   background-color:#ffffff;
    margin: 1% auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .head-navbar{
    color:#ff0000;
    gap: 7px;
    display: flex;
    align-items: center;
  }
  .head-navbar img{
    width: 80%;
  }

  .navbar-stays{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-home{
    display: flex;
  }
  .navbar-left{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .navbar-border{
    display: flex;
    align-items: center;
    width: fit-content;
    border: 2px solid #3b3a3b4a;
    padding: 9px;
    border-radius: 20px;
  }


  .navbar,
  .navbar-stays b:hover{
    border-radius: 7px;

  }
  .navbar-border:hover{
   background-color : #1817172d;
  }

  .navbar-home:hover{
    background-color : #1817172d;
  }

.navbar-www:hover{
    background-color : #1817172d;
  }

  
  .navbar-one{
    margin: 15px auto;
    background-color: #3b3a3b0f;
    height: 2px;
  }

  /* NAVBAR-TWO SECTION */
  .navbar-two{
    margin-top:3% auto;
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    padding: 0 10px;
    border: 2px solid #3b3a3b4a;
    z-index: 2;
    overflow: hidden;
  }

  input{
    background-color:#ffffff;
    text-emphasis: none;
    border: none;
    outline: none;
    text-decoration: none;
  }

  .navbar-check{
    display: flex;
    width:45%;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-who{
    align-items: center;
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
  .navbar-search{
    color: #f2f7f8;
    border-radius: 23px;
    padding: 10px;
    background-color:#ff0000;
  }

  .navbar-adds{
    align-items: center;
    position: absolute;
  }

  .navbar-to{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .navbar-week{
    margin-left: 25%;
    align-self:center;
  }


  .navbar-line{
    padding: 20px;
    margin-right: 10%;
    border-right: 1px solid #3b3a3b52;
  } 


  /* DROP DOWN SECTION */

  input[type = 'checkbox']:checked~  .show{
    display: block;
  }

  input[type = 'checkbox']{
    display: none;
  }

  
  .show{
    margin: 2% auto;
    position: absolute;
    height:fit-content;
    width: 30%;
    padding: 16px;
    background-color:white;
  border-radius: 3vh;
    display: none;
    z-index: 10;
    height: 51vh;
}

 .show img{
  height:100%;
  border-radius: 3vh;
  width:100%;
}
.spacing{
    padding: 10px;
    display:block;
}



  /* scroll-box SECTION */
.scroll-box {
  align-items: center;
  display: flex; 
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content:center;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}


.scroll-item {
  overflow: hidden;
  justify-content:center;
  display: block;
  min-width: 14vmin;
  text-align: center;
  margin: 1rem ;
  font-size: clamp(.25rem, 2.5vw, 1rem);
  position: relative;
}

.scroll-item img {
  align-items: center;
  width: 1rem;
}

.scroll-item::before{
  content: '';
  width: 0%;
  background-color: #3b3a3bb9;
  position: absolute;
  height: 3px;
  justify-content: center;
  align-items: center;
  top: 95%;
  left: 0%;
}

.scroll-item:hover::before{
  width: 80%;
}



.aaaa{
background-color:red;
}
.slider-container{
  margin-top: 40vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content:space-between;
  width: fit-content;
  gap: 25px;
  border-radius: 10px;

} 

.slider-child{
  overflow: hidden;
  display:block;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 10px;
} 


swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
} 

.slider-child img{
  height: 45vh;
  overflow: hidden;
  object-fit: cover;
  display: block;
  border-radius: 10px;
} 


.slider-text{
  margin: 7% auto;
}


/* button side top */
.future{
  margin-bottom:3% ;
}

.popular{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.stand{
  width: 100%;
  background-color: #122231;
  height: 2px;
}

.canmore{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns:repeat(6, 1fr);
  align-self:center;
  justify-content: space-between;
  margin-top:  3%;
}

.support{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  gap: 20px;
   margin-top:  3%;
}
 
.center p{
  margin-top: 5%;
}

.cen{
  max-width: fit-content;
  position: relative;
}

.cen::before{
  content: '';
  width: -20%;
  height: 2px;
  background-color:rgba(0, 0, 0, 0.365);
  position:absolute;
  top: 90%;
}

.cen:hover::before{
  width:100%;
}

.navbar-back{
  background-color: #1f272d24;
  height:2px;
  margin: 3% auto;
}




.terms{
  display: flex;
  align-items: center;
  margin: 3% auto;
  justify-content: space-between;

}

.last{
  display: flex;
  align-items: center;
  gap: 7px;
}

.lastlast{
  font-size: xx-large;
  color: #0000ff;
}

.lastbuttom{
  margin-right: 3%;
}





/* Extra small devices (phones, 0px and up) */
@media (max-width: 575px) { 
  nav{
    margin-top: 14%;
    background-color:white;
    position: fixed;
    top: 0;
  }
  .game-four{
    background-color:white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .okay{
    background-color:white;
    margin: 35vh auto;
  }

  .slider-container{
    margin: 0;
  }

  .scroll-box{
    background-color:white;
  }

  .game-on{
    overflow: hidden;
    display:block;
    margin-top: 27vh;
    border: 1px solid #c4c9ce;
    justify-content:center;
    width: 80%;
    border-radius: 20px;
    z-index: 3%;
    padding: 2%;
    background-color: whitesmoke;
    align-items: center;
  }

  .game-one{
    display: flex;
    gap: 1rem;
  }

  .game-one i{
    font-size: x-large;
  }

  .game-off{
    display: flex;
    gap: 1%;
    font-size: small;
    margin-left: 12%;
  }

  .game-two{
    margin-top: 27vh;

    width: fit-content;
    background-color:rgba(0, 0, 0, 0.699);
    padding: 2%;
    border-radius: 10vh;
  }

  .game-two i{
    font-size:large;
    color: white;
  }




   .navbar-two{
    display: none;
   } 

   .navbar-to{
    display: none;
   }

  .navbar div,
    .head-dropdown div,
  .navbar-check div,
  .navbar-who div,
  .navbar-search,
  .navbar-line{ 
    display: none;
    
  }


  .navbar-one{
      display: none;
    }

   
    .slider-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      max-width: fit-content;
    }

    
  .canmore{
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   grid-template-columns:repeat(2, 1fr);
   align-self:center;
   justify-content: space-between;
   margin-top:7%;
 }

 

 .popular{
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 30px;
  align-items: center;
 }

 
.popular::-webkit-scrollbar {
  display: none;
}

.support{
  display: block;
}

.center {
  margin-top: 10%;
}
.canmore p{
  margin-top:7%;
 }

 .terms{
  font-size: small;
  flex-direction: column-reverse;
  overflow: hidden;
 }


 .lastbuttom{
  margin-top:  3% ;
  margin-bottom:  3% ;

 }

 .log-in{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3%;
  background-color:white;
 }

 .log-in i{
  margin-left: 2vh;
  font-size: xx-large;
  color: white;
 }

 .slider-child img{
  height:fit-content;
}
 
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 575px) and (max-width: 991.98px) { 
   .class {
    display:column;
    align-items: center;
    justify-content: center;
    font: 20px sans-serif;
    align-items: center;
    justify-content: space-around;
  }

  nav{
    margin-top: 11%;
    background-color:white;
    position: fixed;
    top: 0;
  }
  .okay{
    background-color:white;
    margin: 52vh auto;
  }

  .slider-container{
    margin: 0;
  }

  .scroll-box{
    background-color:white;
  }

  .game-four{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .game-on{
    display:block;
    border: 1px solid #c4c9ce;
    justify-content:center;
    width: 80%;
    border-radius: 20px;
    z-index: 3%;
    padding: 2%;
    background-color: whitesmoke;
    align-items: center;
  }

  .game-one{
    display: flex;
    gap: 1rem;
  }

  .game-one i{
    font-size: x-large;
  }

  .game-off{
    display: flex;
    gap: 1%;
    font-size: small;
    margin-left: 12%;
  }

  .game-two{
    width: fit-content;
    background-color:rgba(0, 0, 0, 0.699);
    padding: 2%;
    border-radius: 10vh;
  }

  .game-two i{
    font-size:large;
    color: white;
  }

  
  .navbar-two{
    display: none;
   } 

  .navbar-one{
    display: none;
  }

.navbar-left{
  display:column;
  align-items: center;
  justify-content: center;
}

.navbar-stays{
  margin-right: 35%;
  display: flex;
  margin-top: 8%;
  margin-right: 0;
  gap: 7px;
}

.head-navbar b{
  display: none;
}


.navbar-to {
  display: flex;
  margin-left: 25%;

}

.navbar-week{
  display: flex;
}


.navbar div,
.head-dropdown div,
.navbar-check div,
.navbar-who div,
.navbar-search,
.navbar-line{
  display: none;
}
.slider-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}


.canmore{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns:repeat(2, 1fr);
  align-self:center;
  justify-content: space-between;
  margin-top:7%;
}



.popular{
 align-items: center;
 overflow-y: hidden;
 overflow-x: scroll;
 gap: 30px;
 align-items: center;
}


.popular::-webkit-scrollbar {
 display: none;
}

.support{
 display: block;
}

.center {
 margin-top: 10%;
}
.canmore p{
 margin-top:7%;
}


.terms{
  align-items: center;
  flex-direction: column-reverse;
 }

 .lastbuttom{
  margin-top:  2% ;
  margin-bottom:  2% ;

 }

 .navbar-two{
  background-color: #740fb8;
 } 

 .log-in{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3%;
  background-color: #0000ff;
 }

 .log-in i{
  margin-left: 2vh;
  font-size: xx-large;
  color: white;
 }

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .class{
     display:column;
     align-items: center;
     justify-content: center;
     font: 20px sans-serif;
     align-items: center;
     justify-content: space-around;
   }

   .game-four{
    display: none;
   }

   .okay{
    background-color: #0000ff;
    margin: 56vh auto;
  }

  .slider-container{
    margin: 0;
  }
 
 
 .navbar-left{
   display:column;
   align-items: center;
   justify-content: center;
 }
 
 .navbar-stays{
   margin-right: 35%;
   display: flex;
   margin-top: 8%;
   margin-right: 0;
   gap: 7px;
 }
 
 .head-navbar b{
   display: none;
 }
 
 .navbar-adds {
   display: none;
 }

 .slider-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.man{
  align-items: center;
  justify-items: center;
  align-self: center;
}


.canmore{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns:repeat(3, 1fr);
  align-self:center;
  justify-content: space-between;
  margin-top:7%;
}



.popular{
 align-items: center;
 overflow-y: hidden;
 overflow-x: scroll;
 gap: 30px;
 align-items: center;
}


.popular::-webkit-scrollbar {
 display: none;
}

.center {
 margin-top: 10%;
}
.canmore p{
 margin-top:7%;
}


.terms{
  align-items: center;
  flex-direction: column-reverse;
 }

 .lastbuttom{
  margin-top:  3% ;
  margin-bottom:  3% ;

 }

 .log-in{
  display: none;
 }
 
 }



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .class {
    font-size: 18px;
  }
  .navbar-adds {
    display: none;
  }

  .game-four{
    display: none;
   }

   .log-in{
    display: none;
   }
 

}


@media (min-width: 1700px) { 
.slider-container img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content:space-between;
  width: fit-content;
  gap: 25px;
  width: 60%;
  height: 20%;
  border-radius: 10px;

} 

.container{
  width: 60vw;
}

.log-in{
  display: none;
 }

}
